.itpc-error {
  position: absolute;
  right: 10px;
  bottom: calc(-7px);

  overflow: hidden;
  box-sizing: border-box;
  max-width: 85%;
  padding: 0 5px;

  font-size: 12px;
  line-height: 14px;
  color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: rgb(255 255 255);
  opacity: 0;
  cursor: text;

  transition: all 0.3s ease-in-out 0s;
}

.itpc-error_show {
  opacity: 1;
}

.itpc-error_type_warning {
  color: #ecc022;
}

.itpc-error_type_invalid {
  color: #d42564;
}
