.itpc-calendar__cell {
  padding: 0.5rem;
  border-radius: 4px;
  color: var(--itpc-primary-text-color);
  cursor: pointer;
}

.itpc-calendar__cell:hover {
  color: var(--itpc-primary-text-color);
  background-color: var(--itpc-additional-hover-color-component);
}

.itpc-calendar__cell_header {
  cursor: default;
}

.itpc-calendar__cell_header:hover {
  background-color: transparent;
}

.itpc-calendar__cell_changed {
  color: var(--itpc-primary-text-color);
  background-color: var(--itpc-primary-bg-color-component);
}

.itpc-calendar__cell_not_current {
  color: var(--itpc-additional-text-color-component);
}

.itpc-calendar__cell_disabled {
  cursor: default;
  color: var(--itpc-additional-text-color-component);
  /*opacity: .5;*/
}
