.itpc-calendar__cell {
  padding: 0.5rem;

  color: var(--itpc-primary-text-color);

  border-radius: 4px;
  cursor: pointer;
}

.itpc-calendar__cell:hover {
  color: var(--itpc-primary-text-color);

  background-color: var(--itpc-additional-hover-color-component);
}

.itpc-calendar__cell_header {
  cursor: default;
}

.itpc-calendar__cell_header:hover {
  background-color: transparent;
}

.itpc-calendar__cell_changed {
  color: var(--itpc-white-color);

  background-color: var(--itpc-primary-bg-color-component);
}

.itpc-calendar__cell_not_current {
  color: var(--itpc-additional-text-color-component);
}

.itpc-calendar__cell_disabled {
  color: var(--itpc-additional-text-color-component);

  cursor: default;

  /* opacity: .5; */
}
