.itpc-select {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #b2b7c7;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.itpc-select:hover {
  border-color: #5c53ac;
}

.itpc-select__button {
  padding: 7px 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
}

.itpc-select__button:hover {
  border-color: #5c53ac;
}

.itpc-select__button_focused {
  border-color: #6f65cb;
}
