.itpc-button {
  padding: 6px 20px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--itpc-primary-bg-color-component);
  border: 1px solid var(--itpc-primary-border-color);
  border-radius: 4px;
  color: var(--itpc-primary-text-color-component);
  cursor: pointer;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.itpc-button:hover {
  background-color: var(--itpc-primary-hover-color-component);
  border-color: var(--itpc-primary-hover-color-component);
  color: var(--itpc-primary-text-color-component);
}

.itpc-button:disabled {
  background-color: var(--itpc-disabled-bg-color-component);
  border-color: var(--itpc-disabled-border-color);
  color: var(--itpc-primary-text-color-component);
  cursor: default;
}


.itpc-button__color_white {
  background-color: var(--itpc-secondary-bg-color-component);
  border-color: var(--itpc-primary-border-color);
  color: var(--itpc-secondary-text-color-component);
}

.itpc-button__color_white:hover {
  background-color: var(--itpc-primary-hover-color-component);
  border-color: var(--itpc-primary-border-hover-color);
  color: var(--itpc-primary-text-color-component);
}

.itpc-button__color_white:disabled {
  background-color: var(--itpc-disabled-bg-color-component);
  border-color: var(--itpc-disabled-border-color);
  color: var(--itpc-primary-text-color-component);
  cursor: default;
}

.itpc-button__color_red {
  background-color: var(--itpc-danger-bg-color-component);
  border-color: var(--itpc-danger-border-color);
  color: var(--itpc-primary-text-color-component);
}

.itpc-button__color_red:hover {
  background-color: var(--itpc-danger-hover-color-component);
  border-color: var(--itpc-danger-hover-color-component);
  color: var(--itpc-primary-text-color-component);
}

.itpc-button__color_red:disabled {
  background-color: var(--itpc-disabled-bg-color-component);
  border-color: var(--itpc-disabled-border-color);
  color: var(--itpc-primary-text-color-component);
  cursor: default;
}
