.itpc-button {
  padding: 6px 20px;
  min-width: 40px;
  min-height: 40px;
  background-color: #5c53ac;
  border: 1px solid #5c53ac;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.itpc-button:hover {
  background-color: #6f65cb;
  border-color: #6f65cb;
  color: #fff;
}

.itpc-button:disabled {
  background-color: #b2b7c7;
  border-color: #b2b7c7;
  color: #fff;
  cursor: default;
}

.itpc-button__color_white {
  background-color: #fff;
  border-color: #5c53ac;
  color: #5c53ac;
}

.itpc-button__color_white:hover {
  background-color: #6f65cb;
  border-color: #6f65cb;
  color: #fff;
}

.itpc-button__color_white:disabled {
  background-color: #b2b7c7;
  border-color: #b2b7c7;
  color: #fff;
  cursor: default;
}

.itpc-button__color_red {
  background-color: #d42564;
  border-color: #d42564;
  color: #fff;
}

.itpc-button__color_red:hover {
  background-color: #c9184a;
  border-color: #c9184a;
  color: #fff;
}

.itpc-button__color_red:disabled {
  background-color: #b2b7c7;
  border-color: #b2b7c7;
  color: #fff;
  cursor: default;
}
