.itpc-table-sort__row {
  background-color: var(--itpc-primary-bg-color);
  cursor: default;
}

.itpc-table-sort__row:hover {
  background-color: var(--itpc-table-hover-color-component);
}

.itpc-table-sort__row_clickable {
  cursor: pointer;
}
