.itpc-button-round {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 10px;

  font-size: var(--itpc-font-size-xs);
  color: var(--itpc-secondary-text-color-component);

  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  user-select: none;

  transition: all ease-in-out 0.3s;
}

.itpc-button-round:hover {
  color: var(--itpc-secondary-text-color-component);

  background-color: var(--itpc-extra-hover-color-component);
}

.itpc-button-round:hover > .itpc-tooltip {
  visibility: visible;
}

.itpc-button-round:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.itpc-tooltip {
  position: absolute;
  top: 120%;
  z-index: 100;

  display: flex;
  align-items: center;
  width: max-content;
  padding: 2px 4px;

  font-size: var(--itpc-font-size-xxs);
  color: var(--itpc-primary-text-color-component);

  border-radius: 0;
  background-color: var(--itpc-primary-bg-color-text);
  visibility: hidden;

  transition: all ease-in-out 0.15s;
}
