.itpc-search-field {
  position: relative;
  z-index: 999999;

  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;

  border: 1px solid var(--itpc-input-border-color);
  border-radius: 4px;
  box-shadow: none;
}

.itpc-search-field_hover:hover {
  border-color: var(--itpc-primary-hover-color-component);
}

.itpc-search-field_disabled {
  border-color: var(--itpc-disabled-input-border-color);
  pointer-events: none;
}

.itpc-search-field > .itpc-field {
  width: 100%;
  height: 100%;
}

.itpc-search-field > .itpc-field > .itpc-input-wrap {
  border: none;
}

.itpc-search-field__no-suggestions {
  gap: 4px;
}
