.itpc-table-sort__head {
  background-color: transparent;
  cursor: default;
  border-bottom: 1px solid #b2b7c7;
}

.itpc-table-sort__head:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.itpc-table-sort__wrap-cell {
  padding: 10px;
  display: flex;
  align-items: center;
}

.itpc-table-sort__wrap-icon {
}

.itpc-table-sort__icon_clickable {
  cursor: pointer;
}

.itpc-table-sort_pointer-none {
  pointer-events: none;
}

.itpc-table-sort__head_background-active {
  background-color: #e5e5e5;
}

.itpc-table-sort__head_background {
  background-color: #ffffff;
}
