.itpc-table-sort__head {
  border-bottom: 1px solid var(--itpc-input-border-color);
  background-color: transparent;
  cursor: default;
}

.itpc-table-sort__head:hover {
  background-color: var(--itpc-table-hover-color-component);
  cursor: pointer;
}

.itpc-table-sort__head-no-sort {
  border-bottom: 1px solid var(--itpc-input-border-color);
  background-color: transparent;
  cursor: default;
}

.itpc-table-sort__head-no-sort:hover {
  background-color: var(--itpc-table-hover-color-component);
}

.itpc-table-sort__wrap-cell {
  display: flex;
  align-items: center;
  padding: 10px;
}

.itpc-table-sort__icon_clickable {
  cursor: pointer;
}

.itpc-table-sort_pointer-none {
  pointer-events: none;
}

.itpc-table-sort__head_background-active {
  /* background-color: #e5e5e5; */
  background-color: var(--itpc-table-hover-color-component);
}

.itpc-table-sort__head_background {
  background-color: var(--itpc-primary-bg-color);
}
