.itpc-table-sort {
  overflow: hidden;
  width: 100%;

  color: var(--itpc-primary-text-color);
  text-align: left;

  border: 1px solid var(--itpc-input-border-color);
  border-spacing: 0;
  border-radius: 4px;
  table-layout: unset;
}

.itpc-table-sort__column {
  padding: 10px;

  font-weight: 400;

  border-bottom: 1px solid var(--itpc-input-border-color);
  border-radius: 0;
  cursor: default;
}

.itpc-table-sort__column_clickable {
  cursor: pointer;
}
