.itpc_default_theme {
  /* фон */
  --itpc-primary-bg-color: #19192a;

  /* Фон компонента */
  --itpc-primary-bg-color-component: #5c53ac;
  --itpc-secondary-bg-color-component: #ffffff;
  --itpc-extra-bg-color-component: #c7ccdb;
  --itpc-disabled-bg-color-component: #b2b7c7;
  --itpc-danger-bg-color-component: #d42564;

  --itpc-primary-bg-hover-color-component: #6f65cb;
  --itpc-secondary-bg-hover-color-component: #b2b7c7;
  --itpc-danger-bg-hover-color-component: #c9184a;

  /* Бордеры */
  --itpc-primary-border-color: #5c53ac;
  --itpc-primary-border-hover-color: #6f65cb;;
  --itpc-danger-border-color: #d42564;
  --itpc-danger-border-hover-color: #c9184a;
  --itpc-disabled-border-color: #b2b7c7;
  --itpc-warning-border-color: #ecc022;

  /* Текст */
  --itpc-primary-text-color: #212529;;
  --itpc-danger-text-color: #d42564;
  --itpc-warning-text-color: #ecc022;

  --itpc-primary-text-color-component: #ffffff;
  --itpc-secondary-text-color-component: #5c53ac;

  /* Иконки */
  --itpc-primary-icon-color: #393185;
  --itpc-secondary-icon-color: #ffffff;
  --itpc-success-icon-color: #7add7a;
  --itpc-cancel-icon-color: #d42564;
  --itpc-additional-icon-color: #8f8f8f;
  --itpc-icon-color-yellow: #ecc022;
  --itpc-icon-color-blue: #0d6efd;
  --itpc-icon-color-red: #d42564;

  --itpc-link-color: #0d6efd;
  --itpc-line-color: #393185;

  /* Тени */
  --itpc-box-shadow-color: #e5e5e5;
  --itpc-box-shadow-color-second: #d4d6e7;


  /* Цвета состояния */
  --error-color: #d42564;
  --success-color: #7add7a;
  --success-green-light-color: #7add7a49;
  
  --warning-color: #ecc022;

  /* Текст */
  --primary-text-color: #212529;
  --secondary-text-color: #b2b7c7;
  --small-text-color: #575757;
  
  --input-text-color: #212529;

  /* Ховеры */
  --primary-hover: #f0f0f0;
  --extra-hover: #e7e7e7;
  --primary-icon-hover: #6f65cb;

  



  /* Скелетон */
  --skeleton-start: #eeeef4;
  --skeleton-fifty: #fafafa;
  --skeleton-end: #f0f0f0;

  /* Бордеры */
  --primary-border-color: #37374538;
  --secondary-border-color: #d4d6e7;
  --extra-border-color: #393185;

  /* Ui kit */
  --primary-placeholder-text-color: #b2b7c7;
  --focused-placeholder-text-color: #575757;
  --input-border-color: #b2b7c7;
  --extra-bg-component: #ffffff;
  --modal-overlay-bg: rgba(0, 0, 0, 0.2);
  --disabled-input-color: #eeeef4;

  /* Скролл */
  --primary-scroll-color: #ffffff;
  --extra-scroll-color: #4c43a1;
  --extra-scroll-thumb-color: #979797;
}
