.itpc-popup {
  padding: 20px;
  position: fixed;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  border: 1px solid #B2B7C7;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out .3s;
}

.itpc-popup_opened {
  visibility: visible;
  opacity: 1;
}

.itpc-popup_color_error {
  border-color: #D42564;
}

.itpc-popup_color_warning {
  border-color: #DCB21E;

}

.itpc-popup_color_success {
  border-color: #4DB04D;

}

.itpc-popup_position_top_left {}

.itpc-popup_position_top_center {}

.itpc-popup_position_top_right {}

.itpc-popup_position_center_left {}

.itpc-popup_position_center_center {}

.itpc-popup_position_center_right {}

.itpc-popup_position_bottom_left {}

.itpc-popup_position_bottom_center {}

.itpc-popup_position_bottom_right {}

.itpc-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 14px;
}

.itpc-popup__header > .itpc-icon__close {
  padding: 0;
}

.itpc-popup__title {
  margin: 0;
  font-size: 16px;
}
