.itpc-popup {
  position: fixed;

  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
  padding: 20px;

  font-size: 14px;
  color: var(--itpc-primary-text-color);

  border: 1px solid var(--itpc-input-border-color);
  border-radius: 4px;
  background-color: var(--itpc-primary-bg-color);
  opacity: 0;
  visibility: hidden;

  transition: all ease-in-out 0.3s;
}

.itpc-popup_opened {
  opacity: 1;
  visibility: visible;
}

.itpc-popup_color_error {
  border-color: var(--itpc-danger-border-color);
}

.itpc-popup_color_warning {
  border-color: var(--itpc-warning-border-color);
}

.itpc-popup_color_success {
  border-color: var(--itpc-success-border-color);
}

.itpc-popup__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
}

.itpc-popup__header > .itpc-icon__close {
  padding: 0;
}

.itpc-popup__title {
  margin: 0;

  font-size: 16px;
}
