.itpc-placeholder {
  padding: 0 5px;
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  background-color: rgb(255, 255, 255);
  cursor: text;
  font-size: 14px;
  line-height: 14px;
  color: #b2b7c7;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out 0s;
}
