.itpc-placeholder {
  padding: 0 5px;
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  background-color: var(--itpc-primary-bg-color);
  cursor: text;
  font-size: 14px;
  line-height: 14px;
  color: var(--itpc-primary-text-color);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out 0s;
}

.itpc-placeholder_focused {
  top: calc(-8px);
  color: var(--itpc-primary-text-color);
  font-size: 12px;
}

.itpc-placeholder_color_red {
  color: var(--itpc-danger-text-color);
}
