.itpc-table-sort__cell {
  padding: 10px;

  border: none;
  border-radius: 0;
  cursor: default;

  weight: var(--itpc-font-weight-normal);
}

.tpc-table-sort__cell_clickable {
  cursor: pointer;
}

.itpc-table-sort__cell_back {
  background-color: var(--itpc-table-hover-color-component);
}
