.itpc-table-sort__cell {
  padding: 10px;
  font-weight: 400;
  border: none;
  border-radius: 0;
  cursor: default;
}

.itpc-table-sort__cell_clickable {
  cursor: pointer;
}

.itpc-table-sort__cell_back {
  background-color: #e5e5e5;
}
