.itpc-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: visibility linear, opacity linear, background-color linear;
}

.itpc-modal-overlay_opened {
  background-color: var(--itpc-primary-bg-color-overlay);
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition-duration: 0.2s;
}

.itpc-modal-overlay_closed {
  background-color: inherit;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-duration: 0.15s;
}

.itpc-modal-overlay_clickable {
  cursor: pointer;
}

.itpc-modal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 30%;
  max-width: 80%;
  max-height: 80%;
  padding: 20px;

  border-radius: 4px;
  background-color: var(--itpc-primary-bg-color);
  cursor: default;

  transition: opacity ease-in-out, transform ease-in-out;
  transform-origin: center;
}

.itpc-modal_opened {
  opacity: 1;

  transition-duration: 0.2s;
  transform: scale(1);
}

.itpc-modal_closed {
  opacity: 0;

  transition-duration: 0.15s;
  transform: scale(0.5);
}

.itpc-modal__header {
  position: relative;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  font-size: var(--itpc-font-size-m);
  color: var(--itpc-primary-text-color);
}

.itpc-modal__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  overflow-y: auto;

  color: var(--itpc-primary-text-color);
}

.itpc-modal__footer {
  display: flex;
  gap: 10px;
  justify-content: end;
}
