.itpc-input-wrap {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--itpc-input-border-color);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
}

.itpc-input-wrap:hover {
  border-color: var(--itpc-primary-hover-color-component);
}

.itpc-input-wrap_focused {
  border-color: var(--itpc-primary-hover-color-component);
}

.itpc-input-wrap_error {
  border-color: var(--itpc-danger-border-color);
}

.itpc-input {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--itpc-primary-bg-color);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: transparent;
  appearance: none;
  box-sizing: border-box;
  resize: none;
}

.itpc-input::-webkit-calendar-picker-indicator {
  display: none;
}

.itpc-input_focused {
  color: var(--itpc-primary-text-color);
}
