.itpc-list-box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  max-height: 200px;
  margin: 0;
  padding: 0;

  border: 1px solid var(--itpc-primary-border-color);
  border-radius: 4px;
  background-color: transparent;
  list-style: none;
  pointer-events: none;

  transition: transform ease-in-out, line-height ease-in-out;
}

.itpc-list-box_opened {
  line-height: 1.2;

  pointer-events: auto;

  transform: scaleY(1);
}

.itpc-list-box_closed {
  line-height: 0;

  transform: scaleY(0);
}
