.itpc-preloader {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  display: flex;
  border: 4px solid rgba(0, 0, 0, 0.25);
  border-top-color: #5c53ac;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
