.itpc-icon__loading {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all ease-in-out .3s;
}

.itpc-icon__preloader {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  border-width: 3px;
}