.itpc-calendar__times {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.itpc-calendar____time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
