.itpc-table {
  overflow: hidden;
  width: 100%;

  color: var(--itpc-primary-text-color);
  text-align: left;

  border: 1px solid var(--itpc-input-border-color);
  border-spacing: 0;
  border-radius: 4px;
  table-layout: unset;
}

.itpc-table__caption {
  margin-bottom: 0.5rem;

  font-size: var(--itpc-font-size-xs);
}

.itpc-table__head {
  background-color: transparent;
  cursor: default;
}

.itpc-table__column {
  padding: 10px;

  font-weight: var(--itpc-font-weight-normal);

  border-bottom: 1px solid var(--itpc-input-border-color);
  border-radius: 0;
  cursor: default;
}

.itpc-table__column_clickable {
  cursor: pointer;
}

.itpc-table__cell {
  padding: 10px;

  font-weight: var(--itpc-font-weight-normal);

  border: none;
  border-radius: 0;
  cursor: default;
}

.itpc-table__cell_clickable {
  cursor: pointer;
}

.itpc-table__row {
  background-color: transparent;
  cursor: default;
}

.itpc-table__row_clickable {
  cursor: pointer;
}

.itpc-table__row:hover {
  background-color: var(--itpc-table-hover-color-component);
}
