.itpc-table {
  width: 100%;
  table-layout: unset;
  border: 1px solid #B2B7C7;
  border-spacing: 0;
  border-radius: 0;
  text-align: left;
  overflow: hidden;
}

.itpc-table__caption {
  margin-bottom: .5rem;
  font-size: 14px;
}

.itpc-table__head {
  background-color: transparent;
  cursor: default;
}

.itpc-table__column {
  padding: 10px;
  font-weight: 400;
  border-bottom: 1px solid #B2B7C7;
  border-radius: 0;
  cursor: default;
}

.itpc-table__column_clickable {
  cursor: pointer;
}

.itpc-table__body {}

.itpc-table__cell {
  padding: 10px;
  font-weight: 400;
  border: none;
  border-radius: 0;
  cursor: default;
}

.itpc-table__cell_clickable {
  cursor: pointer;
}

.itpc-table__row {
  cursor: default;
  background-color: transparent;
}

.itpc-table__row_clickable {
  cursor: pointer;
}

.itpc-table__row:hover {
  background-color: #E5E5E5;
}

.itpc-table__footer {}