.itpc-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: var(--itpc-primary-text-color);

  background-color: var(--itpc-extra-bg-color-component);
}

.itpc-accordion-item {
  border-radius: 4px;
  box-shadow: 0 0 3px 1px var(--itpc-box-shadow-color);
}

.itpc-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  border-radius: 4px;
  cursor: pointer;

  transition: all linear 0.3s;
}

.itpc-accordion-header:hover {
  background-color: var(--itpc-secondary-hover-color-component);
}

.itpc-accordion-header_opened {
  border-radius: 0;
  background-color: var(--itpc-extra-bg-color-component);
}

.itpc-accordion-header_active {
  background-color: var(--itpc-success-border-color);
}

.itpc-accordion-body {
  overflow: hidden;
  max-height: 0;
  padding: 0 10px;

  transition: max-height linear 0.3s, padding-top linear 0.3s,
    padding-bottom linear 0.3s;
}

.itpc-accordion-body_opened {
  overflow-y: auto;
  max-height: 550px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.itpc-accordion-arrow > .itpc-icon__arrow {
  padding: 0;
}
